@import url("../estilos.css?v=21");

.logo-crebe{
  width:80px;
  max-width:80px;
  height:80px;
  max-height:80px;
  object-fit:contain;
}

@media (max-width:700px){
  .logo-crebe{
    width:68px;
    max-width:68px;
    height:68px;
    max-height:68px;
  }
}
